@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
:root {
  --background: #1d2531;
  --white: #e2e8f0;
  --gray: #94a3b88e;
  --blue: #090d1759;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
